<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Livro de Receitas - Bolo de Maracujá</title>
</head>

<body style="text-align: center">
  <header>
    <h1>Livro de Receitas</h1>
    <img th:src="@{/images/cook-home.png}" alt="Bolo de chocolate" />
  </header>
  <main>
    <header>
      <h3>Receita de Bolo de Maracujá</h3>
      <img th:src="@{/images/maracuja-cake.png}" alt="Bolo de Maracujá">
    </header>
    <section>
      <h4>Lista de Ingredientes o bolo</h4>
      <ul>
        <li>
          3 ovos
        </li>
        <li>
          1 xícara de chá de suco de maracujá peneirado e sem sementes
        </li>
        <li>
          1 xícara de chá de óleo
        </li>
        <li>
          2 xícaras de chá de açúcar
        </li>
        <li>
          3 xícaras de chá de farinha de trigo
        </li>
        <li>
          1 colher de sopa de fermento em pó
        </li>
      </ul>
    </section>
    <section>
      <h4>Lista de Ingredientes a cobertura</h4>
      <ul>
        <li>
          Suco de 2 ou 3 maracujás sem sementes
        </li>
        <li>
          1 lata de creme de leite
        </li>
        <li>
          1 lata de leite condensado
        </li>
      </ul>
    </section>
    <section>
      <h4>Modo de Preparo do bolo</h4>
      <ol>
        <li>
          Bata os 4 primeiros ingredientes no liquidificador.
        </li>
        <li>
          Despeje em uma tigela.
        </li>
        <li>
          Acrescente a farinha de trigo, aos poucos. Mexa.
        </li>
        <li>
          Por último, adicione o fermento e mexa mais um pouco.
        </li>
        <li>
          Coloque a massa em uma forma untada e enfarinhada e leve para assar em forno pré-aquecido a 180° graus por
          aproximadamente 45 minutos.
        </li>
      </ol>
    </section>
    <section>
      <h4>Modo de Preparo da cobertura</h4>
      <ol>
        <li>
          Bata todos os ingredientes no liquidificador até que tudo se misture. Reserve.
        </li>
        <li>
          Coloque a cobertura em cima do bolo quando ele estiver em temperatura ambiente ou gelado
        </li>
      </ol>
    </section>
  </main>
  <footer>
    <p>Licença GPL sobre este projeto</p>
  </footer>
</body>

</html>