<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Livro de Receitas - Bolo de Maracujá</title>
</head>

<body style="text-align: center">
  <header>
    <h1>Livro de Receitas</h1>
    <img th:src="@{/images/cook-home.png}" alt="Bolo de chocolate" />
  </header>
  <main>
    <header>
      <h3>Receita de Bolo de Maracujá</h3>
      <img th:src="@{/images/maracuja-cake.png}" alt="Bolo de Maracujá">
    </header>
    <section>
      <h4>Lista de Ingredientes</h4>
      <ul>
        <li>
          3 ovos
        </li>
        <li>
          1 xícara de chá de suco de maracujá peneirado e sem sementes
        </li>
        <li>
          1 xícara de chá de óleo
        </li>
        <li>
          2 xícaras de chá de açúcar
        </li>
        <li>
          3 xícaras de chá de farinha de trigo
        </li>
        <li>
          1 colher de sopa de fermento em pó
        </li>
      </ul>
    </section>
    <section>
      <h4>Modo de Preparo</h4>
    </section>
  </main>
  <footer>
    <p>Licença GPL sobre este projeto</p>
  </footer>
</body>

</html>