<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Livro de Receitas - Frango Caramelizado</title>
</head>

<body style="text-align: center">
  <header>
    <h1>Livro de Receitas</h1>
    <img th:src="@{/images/cook-home.png}" alt="Bolo de chocolate" />
  </header>
  <main>
    <header>
      <h3>Receita de Frango Caramelizado</h3>
      <img th:src="@{/images/chicken.png}" alt="Frango Caramelizado">
    </header>
    <section>
      <h4>Lista de Ingredientes</h4>
      <ul>
        <li>
          6 Sobrecoxas de frango.
        </li>
        <li>
          3 Colheres de sopa de açucar.
        </li>
        <li>
          Alho e cebola a gosto.
        </li>
        <li>
          1 litro de oleo para fritar.
        </li>
      </ul>
    </section>
    <section>
      <h4>Modo de Preparo</h4>
      <ol>
        <li>
          Lave bem as sobrecoxas e afervente por 10 minutos.
        </li>
        <li>
          Num caldeirão fundo,coloque o litro de óleo e o açúcar no centro da panela sem misturar.
        </li>
        <li>
          Ligue o fogo e espere o açúcar caramelizar.
        </li>
        <li>
          Quando estiver todo caramelizado,coloque as sobrecoxas uma a uma,depois acrescente o alho e a cebola aos
          poucos e bem espalhados pela panela.
        </li>
        <li>
          Mexa com uma escumadeira apenas uma vez para misturar os ingredientes e deixe até o frango ficar bem dourado.
        </li>
      </ol>
    </section>
    </section>
  </main>
  <footer>
    <p>Licença GPL sobre este projeto</p>
  </footer>
</body>

</html>